$font-stack:    Helvetica, sans-serif;
$font-size: 14px;
$logo-width: 50px;

$color-main-blue: #1976D2;
$color-main-red: #dd0031;
$color-main-text: #f5f5f5;
$color-main-grey: #757575;
$background-color: #f5f5f5;
$color-main-lightgrey: #c3c3c3;
