
@import "../assets/css/theme";

.content-block {
  width: 480px;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 50px;

  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.info{
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  width: 500px;
}

.buttons-block{
  position: absolute;
  right: 0;
  margin-right: 25px;

  & button {
    background: transparent;
    margin: 2px;
    border: none;
    border-radius: 2px;
    color: $color-main-text;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-size: $font-size;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    &:hover,
    &.button-active{
      background-color: $color-main-text;
      color: $color-main-grey;
    }

  }
}




