@import "../../../assets/css/theme";

.todo-item {
  padding: 1em;
  display: flex;
  align-items: center;

  & .checkbox {
    margin-right: .25em;
  }
  &.completed {
    & .title{
      text-decoration: line-through;
      color: $color-main-lightgrey;
    }
    & .material-icons {
      color: $color-main-lightgrey;
    }
  }
  & input {
    flex: 1;
    margin-right: 1rem;
  }
  & .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
  }
  &:hover .actions {
    opacity: 1;
  }
}

