<mat-card class="main-card">
  <h4 class="main-card__title center">Приложение имеет 3 (доп.) модуля: AppTodo, AppChart, AppMain;</h4>
  <p class="main-card__text">
    Эхх.. Вот с этого я начинал)
    Теперь когда опыт уже появился:
    Я поправил структуру проекта..
    И многое можно было бы поправить
    (стили не мешало бы поправить и кхм.. код),
    но я это все оставлю так сказать на память)
    Что бы мог вернутся и вспомнить как я начинал
    свой путь в Front-end разработку ;)
  </p>
</mat-card>

<div class="main__image center"></div>




