@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/css/theme";

* {
  box-sizing: border-box;
}
::selection {
  color: $color-main-text;
  background: $color-main-red;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  color: $color-main-grey;
  background-color: $background-color;
}

header {
  display: flex;
  align-items: center;
  background: $color-main-blue;
  height: 56px;
  width: 100%;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: $color-main-text;

  & img {
    width: $logo-width;
  }
  & h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
  }
}

footer {
  width: 100%;
  background-color: $color-main-blue;
  position: fixed;
  padding: 4px 0;
  bottom: 0;
  color: $color-main-text;
}

.center {
  text-align: center;
}

.preloader{
  padding-top: 10%;
  font-size: 30px;
}

app-chat,
app-main,
app-todo,
app-test{
  width: 100%;
}
