$font-stack:    Helvetica, sans-serif;
$font-size: 14px;
$logo-width: 50px;

$color-main-blue: #1976D2;
$color-main-red: #dd0031;;
$color-main-text: #f5f5f5;
$color-main-grey: #757575;
$background-color: #f5f5f5;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  height: 100vh;
  color: $color-main-grey;
  background-color: $background-color;
}

header {
  display: flex;
  align-items: center;
  background: $color-main-blue;
  height: 56px;
  width: 100%;
  min-height: 56px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
  color: $color-main-text;

  & img {
    width: $logo-width;
  }
  & h1 {
    font-weight: 400;
    margin: 0 0 0 10px;
  }
}

footer {
  width: 100%;
  background-color: $color-main-blue;
  position: fixed;
  padding: 4px 0;
  bottom: 0;
  color: $color-main-text;
}

.center {
  text-align: center;
}

app-chat,
app-main,
app-todo{
  width: 80%;
}
